Source: wys-alsa
Section: comm
Priority: optional
Maintainer: Daniel Abrecht <deb@danielabrecht.ch>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 libglib2.0-dev,
 libmm-glib-dev,
 meson,
Standards-Version: 4.1.3
Homepage: https://github.com/Daniel-Abrecht/wys-alsa/

Package: wys-alsa
Architecture: any
Depends:
 alsa-utils,
 ${misc:Depends},
 ${shlibs:Depends}
Provides: wys
Conflicts: wys
Recommends:
 modemmanager
Description: Fork of wys. A daemon to start/stop loopbacks for phone call audio
  During a phone call, audio must be streamed from one ALSA device to
  another ALSA device.  This should only happen during the call, when
  the modem's audio interfaces will actually be active. To facilitate
  this, Wyss will wait for ModemManager calls in the ringing or active
  state and start wys-connect, which is a wrapper around alsaloop, and
  stops wys-connect after the call ended. 
